body, html {
  height: 100%;
  margin: 0;
}
.container{
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 20px;
}
.background {
  /* The image used */
  background-image: url("IMG-20210620-WA0028.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}